<div class="form-container">

  <!-- First card - Create point -->
<div class="card">
<mat-card >
  <mat-card-header class="card-header">
    <mat-card-title>Create your point in the Map:</mat-card-title>
  </mat-card-header>

  <mat-card-content>
  <mat-form-field appearance="fill">
    <mat-label>Id</mat-label>
    <input matInput [(ngModel)]="id"/>
  </mat-form-field>

<mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="name"/>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Longitude</mat-label>
    <input matInput [(ngModel)]="long"/>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Latitude</mat-label>
    <input matInput [(ngModel)]="lat"/>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Color</mat-label>
    <input matInput [(ngModel)]="color" type="color" />
  </mat-form-field>
</mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="createPoint()">
    Create Point
  </button>
  </mat-card-actions>
</mat-card>
</div>

<!-- Second card - get 1 point -->
<div class="card">
  <mat-card >
    <mat-card-header class="card-header">
      <mat-card-title>See the details of one Single Point by it's ID:</mat-card-title>
    </mat-card-header>
  
    <div class="input">
  <mat-card-content >
  <mat-form-field  appearance="fill">
    <mat-label>Id to Get</mat-label>
    <input matInput [(ngModel)]="pointIdToGet"/>
  </mat-form-field>
  </mat-card-content>

  <mat-card-actions>
  <button mat-raised-button color="warn" (click)="getPoint()">
      Show Point
    </button>
  </mat-card-actions>
  </div>
</mat-card>
</div>

<!-- One point table  -->
  <app-point-table class="table" [pointsList]="singlePointData"></app-point-table>
  
  <!-- Third card - list all points -->
  <div class="card">
    <mat-card >
      <mat-card-header class="card-header">
        <mat-card-title>List all the points marked in the Map:</mat-card-title>
      </mat-card-header>
 
    <mat-card-actions class="button-area">
    <button mat-raised-button color="warn" (click)="getPointsList()">
      List All Points
      </button>
    </mat-card-actions>
  </mat-card>
  </div>
</div>

<!-- Table with all points -->
  <app-point-table class="table" [pointsList]="allPointsData"></app-point-table>


