.card {
margin-top: 2rem;

  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  max-width: 28rem;
}


.form-container {
  display: flex;
  display-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}

.input {
  display: inline-flex;
}

.button-area {
  height: 94px;
}

.table {
  padding: 2rem;
}
