<div>
  <mat-form-field appearance="fill">
    <mat-label>Id</mat-label>
    <input
      matInput
      [(ngModel)]="id"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Longitude</mat-label>
    <input
      matInput
      [(ngModel)]="long"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Latitude</mat-label>
    <input
      matInput
      [(ngModel)]="lat"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Color</mat-label>
    <input
      matInput
      [(ngModel)]="color"
      type="color"
    />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input
      matInput
      [(ngModel)]="name"
    />
  </mat-form-field>
  <button
    mat-raised-button
    color="warn"
    (click)="createPoint()"
  >
    Create Point
  </button>
</div>

<div>
  <mat-form-field appearance="fill">
    <mat-label>Id to Get</mat-label>
    <input
      matInput
      [(ngModel)]="pointIdToGet"
    />
    <button
      mat-raised-button
      color="warn"
      (click)="getPoint()"
    >
      Show Point
    </button>
  </mat-form-field>
</div>
<app-point-table [pointsList]="singlePointData"></app-point-table>

<div>
  <button
    mat-raised-button
    color="warn"
    (click)="getPointsList()"
  >
    List All Points
  </button>
</div>

<app-point-table [pointsList]="allPointsData"></app-point-table>
